{% extends "App/padre.html" %} 
{% load static %} 

    {% block contenidoNombre %}
        <title> Agregar ciudad </title>
    {% endblock %}


    {% block contenidoTitulos %}
                <span class="site-heading-upper text-primary mb-3">Blog de viajes</span>
                <span class="site-heading-lower">Agregar ciudad</span>
    {% endblock %}

{% block contenidoInfo %}
           
{% endblock %}

{% block infoExtra %}

    <form action="" method="POST"> {% csrf_token %}

        <table>

            {{ miFormulario2.as_table }}

        </table>
        
        <input type="submit", value="Enviar!">


    </form>

{% endblock %}


     