{% extends "App/padre.html" %} 
{% load static %} 

    {% block contenidoNombre %}
        <title> Ciudades </title>
    {% endblock %}


        {% block contenidoTitulos %}
                <span class="site-heading-upper text-primary mb-3"> Blog de viajes </span>
                <span class="site-heading-lower"> Ciudades </span>
        {% endblock %}

{% block contenidoInfo %}
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Estados Unidos</span>
                                <span class="section-heading-lower">Nueva York</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'App/assets/img/products-01.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Asistir a un musical en Broadway, pasar una noche en Times Square, recorrer de un lado a otro el Puente de Brooklyn, disfrutar de una tarde de compras en la Quinta Avenida o sentirte como un broker en Wall Street, son algunas de las cosas que sólo se pueden hacer en Nueva York.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">España</span>
                                <span class="section-heading-lower">Madrid</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'App/assets/img/products-02.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Madrid es la  perfecta combinación de oferta cultural, monumental y de ocio. Paseando por Madrid podes sentir la pura esencia española, presente en sus edificios cargados de elegancia, en la vida que rebosa cada una de sus plazas y en una gastronomía que enamora. ¿Todavía no has probado las tapas?  </p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Mexico</span>
                                <span class="section-heading-lower">Cancun</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'App/assets/img/products-03.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Cuenta con antiguas pirámides mayas, es el segundo arrecife coralino del mundo, playas interminables, y noches aún más largas, en esta ciudad de la península de Yucatán, donde la fiesta nunca termina.</p></div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}