{% extends "App/padre.html" %} 
{% load static %} 

    {% block contenidoNombre %}
        <title>Comentario</title>
    {% endblock %}


    {% block contenidoTitulos %}
                <span class="site-heading-upper text-primary mb-3">Blog de viajes</span>
                <span class="site-heading-lower">Deja tu comentario</span>
    {% endblock %}
     
    {% block contenidoInfo %}
        <h1 style="color: white; text-align: center;"> Crear un formulario que puedas dejar un comentario </h1>              
    {% endblock %}
     
